body {
    margin: 0;
    height: 100vh;
    --background-color: hsl(240, 10%, 7%);
    /* --background-color: rgb(20, 19, 20); */
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    --button-vertical-padding: 2px;
}

[hidden=""], [hidden="hidden"] {
    display: none !important;
}

button {
    background-color: hsla(0, 0%, 100%, 12%);
    border-radius: calc(5.5pt + 1px);
    border-width: 0;
    color: hsla(0, 0%, 100%, 60%);
    font-family: Roboto, sans-serif;
    padding: var(--button-vertical-padding) calc(5.5pt + var(--button-vertical-padding));
    margin: 2px 0px;
}

button:hover {
    background-color: hsla(0, 0%, 100%, 20%);
}

button:active {
    background-color: hsla(0, 0%, 100%, 25%);
}

button:disabled {
    background-color: hsla(0, 0%, 100%, 5%);
    color: hsla(0, 0%, 100%, 5%);
}

.gm-style-mtc-bbw .gm-style-mtc:not(:last-of-type) > button {
    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
}

.gm-style-mtc-bbw .gm-style-mtc:not(:first-of-type) > button {
    border-start-start-radius: 0px;
    border-end-start-radius: 0px;
}

input, textarea {
    background-color: hsla(0, 0%, 100%, 0%);
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 10%);
    border-radius: 3px;
    color: hsla(0, 0%, 100%, 60%);
    font-family: Roboto, sans-serif;
    font-size: 10pt;
}

input:read-only, textarea:read-only {
    background-color: hsla(0, 0%, 100%, 0);
    color: hsla(0, 0%, 100%, 45%);
}

input:disabled, textarea:disabled {
    background-color: hsla(0, 0%, 100%, 0);
    border-color: hsla(0, 0%, 100%, 5%);
    color: hsla(0, 0%, 100%, 10%);
}

select {
    background-color: color-mix(in srgb, var(--background-color), white 10%);
    border-color: hsla(0, 0%, 100%, 5%);
    border-style: solid;
    border-radius: 3px;
    color: hsla(0, 0%, 100%, 60%);
}

select:hover:not(:disabled), select:focus {
    border-color: hsla(0, 0%, 100%, 14%);
}

select:disabled {
    background-color: var(--background-color);
    color: hsla(0, 0%, 100%, 45%);
    appearance: none;
}

input[type="checkbox"]:not(:checked) {
    filter: invert(100%);
}

#maps-list {
    list-style-type: none;
}

#editor {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#map, #pano {
    height: 50%;
    aspect-ratio: 16 / 9;
    background: none !important;
}

.map-control {
    margin: 10px;
}

.map-control-mimic {
    display: table-cell;
    height: 40px;
    padding: 0px 17px;
    border: 0px none;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    color: rgb(86, 86, 86);
    font-size: 18px;
    user-select: none;
}

.map-control-hover {
    background: white;
    padding: 10px;
}

.pano-control, .pano-control:hover, .pano-control:active {
    /* background-color: rgb(34, 34, 34); */
    background-color: rgb(0, 0, 0, 85%);
    border-radius: 0;
    padding: 3px 7px;
}

.pano-control {
    color: #b3b3b3;
}

.pano-control:hover {
    color: #e6e6e6;
}

.pano-control:active {
    color: #fff;
}

#guides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    pointer-events: none;
    --physical-pixel-size: 1px;
    --stripe-width: calc(5 * var(--physical-pixel-size));
}

.guide-normal, .guide-diff, .reticle {
    position: absolute;
}

.guide-diff {
    mix-blend-mode: difference;
}

.guide-normal.guide-vertical, .guide-normal.reticle-vertical {
    background-image: repeating-linear-gradient(
        black, 
        black var(--stripe-width), 
        white var(--stripe-width), 
        white calc(2*var(--stripe-width)),
        transparent calc(2*var(--stripe-width)),
        transparent calc(3*var(--stripe-width))
    );
}

.guide-normal.guide-horizontal, .guide-normal.reticle-horizontal {
    background-image: repeating-linear-gradient(
        90deg,
        black, 
        black var(--stripe-width), 
        white var(--stripe-width), 
        white calc(2*var(--stripe-width)),
        transparent calc(2*var(--stripe-width)),
        transparent calc(3*var(--stripe-width))
    );
}

.guide-diff.guide-vertical, .guide-diff.reticle-vertical {
    background-image: repeating-linear-gradient(
        transparent, 
        transparent calc(2*var(--stripe-width)),
        white calc(2*var(--stripe-width)),
        white calc(3*var(--stripe-width))
    );
}

.guide-diff.guide-horizontal, .guide-diff.reticle-horizontal {
    background-image: repeating-linear-gradient(
        90deg,
        transparent, 
        transparent calc(2*var(--stripe-width)),
        white calc(2*var(--stripe-width)),
        white calc(3*var(--stripe-width))
    );
}

.guide-horizontal {
    left: 0;
    height: var(--physical-pixel-size);
    width: 100%;
}

.upper-3rd {
    top: calc(100% / 3 -  var(--physical-pixel-size) / 2);
}

.lower-3rd {
    bottom: calc(100% / 3 -  var(--physical-pixel-size) / 2);
}

.guide-vertical {
    top: 0;
    width: var(--physical-pixel-size);
    height: 100%;
}

._10-7-left {
    left: calc((100% * (1 - 9/16 * 10/7) - var(--physical-pixel-size)) / 2);
}

._10-7-right {
    right: calc((100% * (1 - 9/16 * 10/7) - var(--physical-pixel-size)) / 2);
}

._4-3-left {
    left: calc((100% * (1 - 9/16 * 4/3) - var(--physical-pixel-size)) / 2);
}

._4-3-right {
    right: calc((100% * (1 - 9/16 * 4/3) - var(--physical-pixel-size)) / 2);
}

.reticle {
    --reticle-length: calc(16 * var(--physical-pixel-size));
    --reticle-thickness: calc(2 * var(--physical-pixel-size));
}

.reticle-outer {
    background: transparent;
    outline: black solid var(--physical-pixel-size);
}

.reticle-inner {
    background: white;
    mix-blend-mode: difference;
}

.reticle-horizontal {
    left: calc(50% - var(--reticle-length) / 2);
    top: calc(50% - var(--reticle-thickness) / 2);
    width: var(--reticle-length);
    height: var(--reticle-thickness);
}

.reticle-vertical {
    left: calc(50% - var(--reticle-thickness) / 2);
    top: calc(50% - var(--reticle-length) / 2);
    width: var(--reticle-thickness);
    height: var(--reticle-length);
}

#pano-blocked-submodal {
    z-index: 1000;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#pano-blocked-submodal > div {
    display: grid;
    place-items: center;
}

#pano-blocked-submodal > div > div {
    color: hsla(0,0%,100%,.6);
}

#pano-blocked-shame-line {
    font-size: 8pt;
}

#right {
    position: absolute;
    top: 0;
    left: calc(100vh * 16 / 18);
    height: 100vh;
    font-size: 11pt;
}

#right > div {
    height: 50vh;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
}

/*
    Using a lower-specificity selector to reduce the weight from 1-0-1 to
    0-1-2, to prevent it from overriding the #count-* selectors below.
    Being a descendant of #right is more a class than an ID anyways.
*/
div[id="right"] span {
    color: hsla(0,0%,100%,.6);
}

div[id="right"] label {
    color: hsla(0, 0%, 100%, 45%);
}

#right input {
    text-overflow: ellipsis;
}

#right input[type="number"] {
    -moz-appearance: textfield;
}

#right input[type="number"]::-webkit-outer-spin-button,
#right input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#panoid {
    font-family: monospace;
}

#changes > .count-added, #save-status.success {
    color: rgba(0,255,0,.6);
}

#changes > .count-deleted, #save-status.failure {
    color: rgba(255,51,51,.8);
}

#changes > .count-modified {
    color: rgba(218, 165, 32, .8);
}

#modals {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#pos-override-modal {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
}

.override-map-layer {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    z-index: 0;
    opacity: 1;
}

.override-map-layer.override-popup-foreground {
    z-index: 1;
    opacity: var(--override-popup-fg-opacity);
}

#override-modal-mixing-controls {
    position: absolute;
    top: 90%;
    left: 10%;
}

#override-modal-cancel {
    position: absolute;
    bottom: 90%;
    right: 10%;
}

#import-modal, #targets-modal {
    z-index: 100;
    background-color: black;
    padding: 20px;
}